@media (max-width: 1220px){
    *{
        border: 2px solid red;
    }
    body > .container{
        width: 650px;
        flex-wrap: wrap;
        height: 100%;

        .bloco{
            
        }
        
    }
}